.container{
   border : 1px solid black;
   background-color: BLACK;
   color: aqua;
   text-align: center;

}

#bottom_pics{
    border : 1px solid black;
    background-color: BLACK;
    color: aqua;
    text-align: center;
}
main{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
#content{
    /* border: 1px solid black; */
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}
.main_contents{
    /* border: 1px solid; */
    text-align: justify;
    padding: 10px 10px 10px 10px;
    margin: -20px 5px 30px 5px;
}
footer{
  /* bottom: 1px solid black; */
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-around;
    background-color: blue;

}

.last_div{
    border: 1px solid black;
    text-align: center;
    background-color: black;
    color: aqua;
}
.back_one{
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
}
.back{
    background-color: aqua;
     border: 1px solid black;
     text-align: center;
}